html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #1b1f24;
    color: white;
}

@media (max-width:1135px) {
    body {
        background: linear-gradient(#283135, #1d2427);
    }
}

.App {
    max-width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #2e3f4d;
}

::-webkit-scrollbar-thumb {
    background: #13BFF8;
}