.home {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left {
    background: linear-gradient(#13BFF8, #1368F4);
    height: calc(100% - 15vh);
    min-width: max(25vw, 25rem);
    width: max(25vw, 25rem);
    margin: 0 7vmin;
    border-radius: 3rem;
    border: 0.15rem solid #13BFF8;
    box-shadow: 0 1rem 0 #083B87;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.right {
    background: linear-gradient(#283135, #1d2427);
    height: calc(100% - 15vh + 2.5rem);
    width: 100%;
    margin: 0 7vmin;
    margin-left: 0;
    border-radius: 3rem;
    border: 0.15rem solid #283135;
    box-shadow: 0 1rem 0 #151a1d;
}

.weatherIcon {
    width: 70%;
    height: fit-content;
}

.weatherIcon img {
    width: 100%;
    height: 100%;
}

.temp {
    display: flex;
    align-items: center;
}

.temp {
    font-weight: bold;
    font-size: 10rem;
    margin: -3rem 0;
}

.weatherName {
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feelsLike {
    opacity: 0.5;
}

.address {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 4rem;
}

.address img {
    height: 1.2rem;
}